/*
Colour Scheme:

#2D2D2A //Dark Gray
#4C4C47 //Light Gray
#F5FBEF //Whiteish
#C7CB85 //Yellow Ish
#92AD94 //Faded armygreen

Custom Google Fonts:

font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Gloria Hallelujah', cursive;


*/

/*
##### General #####
*/

body
{
	background-color: #92AD94;
	color: #2D2D2A;
}

form input,
form button,
form select,
form textarea
{
	margin-bottom: 5px;
}

.form-control:focus
{
	border-color: #C7CB85 !important;
}

.form-control,
.btn
{
	border-radius: 0;
}

.form-control
{
	border-color: #4C4C47;
	background-color: #F5FBEF;
	color: #2D2D2A;
}

.page > .container
{
	padding-top: 100px;
    padding-bottom: 50px;
}

.page a
{
	color: #4C4C47 !important;
	border-bottom: 2px solid #C7CB85;
	text-decoration: none;
	transition: all 0.5s;
}

.page a:hover,
.page a:active,
.page a:visited
{
	color: #2D2D2A;
	background-color: #C7CB85;
	text-decoration: none;
}

body .social > a
{
	color: #4C4C47;
	margin:10px;
}

#footer a,
#footer a:visited
{
	color: #4C4C47;
	border-bottom: 2px solid #C7CB85;
	transition: all 0.7s;
}

#footer a:hover
{
	background-color: #C7CB85;
	color: #2D2D2A;
}

h1, h2, h3
{
	font-family: 'Gloria Hallelujah', cursive;
}

p.lead
{
	font-family: 'Shadows Into Light', cursive;	
}

/*
##### Custom Navbar #####
*/

.navbar-default
{
	background-color: #2D2D2A; //Dark Gray From Colour Scheme
	border: 0;
	border-color: transparent;
}

.index-navbar
{
    min-height: 60px;
    margin-bottom: 21px;
    font-weight: 700;
}

.navbar a
{
	color: #F5FBEF !important;
	font-family: 'Shadows Into Light', cursive;
	font-size: 120%;
}

.index-navbar.navbar-right a
{
	text-transform: uppercase;
}

#navbar-brand
{
	color: #C7CB85 !important;
	transition: all 0.5s;
	font-family: 'Gloria Hallelujah', cursive;
}

.navbar a:hover
{
	color: #92AD94 !important;
}

#navbar-brand:hover
{
	color: #92AD94 !important;
}

@media(min-width:768px) 
{
	.index-navbar
	{
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .index-navbar .navbar-brand 
	{
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}


#studyteam-member-navbar #navbar-brand
{
	font-size: 180% !important;
}

/*
##### Landing page #####
*/

#login,
#sign-up
{
	padding-top: 200px;
	padding-bottom: 150px;
	background: rgba(51,67,70, 0.7) !important;
	color: #F5FBEF;
	min-height: 70vh;
}

#info
{
	background-color: #92AD94;
}

#contact
{
	background-color: #C7CB85;
}

#index-body
{
	background-image: url("../_media/_images/college-students.png");
	background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
	background-position: top center !important;
    background-attachment: fixed !important;
}

.index-section
{
	padding-top: 100px;
	padding-bottom: 70px;
}

#map
{
	height: 500px;
}

.group
{
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: #2D2D2A 1px solid;
	max-width: 600px;
}

.group-header
{
	background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
	height: 220px;
	width: 100%;
	max-width: 600px;
}

.group-header > h3
{
	position: absolute;
	background: rgba(51,67,70, 0.8) !important;
	color: white;
	padding: 5px 15px 5px 15px;
	bottom: 0;
	left: 15px;
}

.group-header > .publicity
{
	position: absolute;
	background: rgba(51,67,70, 0.8) !important;
	color: #9b0000;
	padding: 5px 5px 5px 5px;
	top: 10px;
	right: 15px;
}

.publicity > span
{
	width: 30px;
	text-align: center;
}

.publicity > .fa-unlock
{
	color: #049b00;
}

.dropdown-inverted
{
	background-color: #2D2D2A;
}

.navbar-default .open > a
{
	background-color: #2D2D2A !important;
	color: #92AD94 !important;
}

.dropdown-inverted > li > a:hover
{
	background-color: #2D2D2A;
	color: #92AD94;
}

form .small-pad
{
	padding-top: 8px;
}

.textarea
{
	resize: none;
}

.scouch-right
{
	margin-left: 10px;
}

.modal-inverse .modal-header,
.modal-inverse .modal-footer,
.modal-inverse .modal-body
{
	background-color: #2D2D2A;
	color: #F5FBEF;
}

.modal-inverse form
{
	margin-bottom: 0;
}

.content-box
{
	background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 110%;
    margin-bottom: 20px;
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.group-cover
{
	background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
	width: 100%;
	max-width: 1200px;
	height: 350px;
	min-height: 220px;
	margin-top: -100px;
	margin-bottom: -10px;
	padding-top: 0px;
}

.group-cover > h1.group-cover-header
{
	position: absolute;
	background: rgba(51,67,70, 0.8) !important;
	color: white;
	padding: 5px 15px 5px 15px;
	bottom: 10px;
	left: 15px;
	font-size: 280%;
}

.post-box
{
	min-height: 120px; 
}

.info-headline
{
	margin-top: 0;
	margin-bottom: 5px;
}

.minor-line
{
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0;
	margin-bottom: 0;
}

h4.student-name,
.buddy-list-entry .student-name
{
	margin: 0;
	padding: 0;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

h4.student-name>a,
h4.student-name>a:hover
{
	border-bottom: none;
	padding: 2px;
	margin: 0;
	background-color: inherit;
}

.student-info,
.group-info
{
	font-size: 90%;
	color: #4C4C47;
	padding-left: 5px;
	padding-top: 5px;
}

.group-admin-options
{
	padding-bottom: 5px;
}

.group-admin-options .btn
{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
}

.no-btm-pad
{
	padding-bottom: 0;
}

.student-avatar
{
	width: 90%;
	margin-left: 5%;
}

.profile-header-avatar
{
	margin-top: -60px;
}

.page-info > .fa
{
	width: 20px;
	text-align: center;
}

.student-options
{
	padding-bottom: 10px;
}

.student-options > form
{
	display: inline;
}

#pending-buddy-list
{
	overflow-x: auto;
	overflow-y: hidden;
}

#pending-buddy-list > form
{
	display: inline;
}

.buddy-pending-entry
{
	width: 30%;
}

.buddy-list-entry > a:hover
{
	background: none;
}

.buddy-list-entry > a
{
	border: none;
}

.buddy-list-entry
{
	margin-bottom: 15px;
	margin-top: 10px;
}